
body {
    font: 10px sans-serif;
}

.scatter .axis path,
.scatter .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1.2px;
    shape-rendering: crispEdges;
}
.scatter .axis text {
    font-size: 12pt;
}
.scatter .label {
    font-size: 14pt;
    font-weight: bold;
}
.scatter .legend {
    font-size: 10pt;
}

.scatter .dot {
    stroke: #000;
}
